<ion-modal-view>
    <ion-header-bar class="bar-calm">
        <h1 class="title">Account</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <label class="item item-input">
                <span class="input-label"></span>
                <input type="text" ng-model="$storage.handle" placeholder="Username">
            </label>
            <button class="button button-full button-calm" ng-click="save($storage.handle,$storage.avatar)" ng-disabled="!$storage.handle">
                Save
            </button>
            <div class="item item-icon-left" href="#">
              <i class="ion-cloud"></i>
              Chat Server
              <span class="item-note">
                {{serverHost}}
              </span>
            </div>
        </ion-list>
    </ion-content>
</ion-modal-view>