/* Empty. Add your own CSS if you like */

.myself {
	margin-left: 25px; 
}
#footer-input {
  display: -webkit-flex;
  display: flex;
  width: 100%; 
 }
#footer-input .icon {
    width: 35px;
    font-size: 25px;
    padding-top: 4px;
    padding-left: 5px; 
}
#footer-input .side-action {
    font-size: 20px;
    padding-top: 4px;
    padding-left: 5px; 
}
#footer-input label {
    -webkit-flex-grow: 1;
    flex-grow: 1; 
}
#footer-input label input {
    padding-left: 5px;
    width: 100%;
}